* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 8vw 3fr 5rem;
  grid-template-rows: 8rem auto;
  background-color: #ffffff;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1;
  padding-right: 2rem;
  border-bottom: 1vh solid #3f8efc;
}

header p {
  color: #ffffff;
  align-self: center;
}

header p:hover {
  background-color: #ffffff;
  color: #404040;
}

header a {
  display: flex;
  align-self: center;
  align-content: center;
}

header .logo {
  width: 5rem;
  height: 5rem;
  margin-left: 1vw;
  border: solid 2px transparent;
  border-radius: 100%;
}

header .logo:hover {
  border-color: #ffffff;
  transition: all 0.4s ease 0s;
}

header .kundvagn {
  width: 5rem;
  height: 5rem;
  margin-right: 1vw;
  border: solid 2px transparent;
  border-radius: 100%;
}

header .kundvagn:hover {
  border-color: #ffffff;
  transition: all 0.4s ease 0s;
}

.items {
  position: fixed;
  right: 150px;
  top: 50px;
  background-color: #ffffff;
  border: 2px solid #202020;
  height: 300px;
  width: 150px;

  display: none;
}

.items-enabled {
  display: block;
}

nav {
  background-color: #404040;
  color: #ffffff;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 1vw;
  color: #ffffff;
  font-size: 1vw;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #202020;
}

@media screen and (min-width: 1000px){
  .nav-area{
    display: none;
  }
}

@media screen and (max-width: 1000px){
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 15vw 2fr 5rem;
    grid-template-rows: 8rem auto;
    background-color: #ffffff;
    min-height: 100vh;
  }

  .nav-area {
    position: static;
    top: 7rem;
    font-size: 6vw;
    color: #3f8efc;
    padding: 3vw;
    padding-top: 1vw;
  }

  nav{
    display: none;
  }

  nav{
    position: fixed;
    background-color: #404040;
    color: #ffffff;
    top: 8rem;
    left: -15vw;
    width: 15vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  nav p{
    padding: 1vw;
    color: #3f8efc;
    font-size: 3vw;
    text-decoration: none;
    transition: all 0.4s ease 0s;
  }

  nav p:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #202020;
  }

  nav a {
    padding: 1vw;
    color: #ffffff;
    font-size: 2vw;
    text-decoration: none;
    transition: all 0.4s ease 0s;
  }
    
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #202020;
  }

  .nav-toggle{
    display: none;
  }

  .nav-toggle:checked + nav {
    left: 0;
   }

   main .content {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  }
  
  main .content * {
    height: 25vw;
    background-color: #3f8efc;
  }
}


main {
  background-color: #ffffff;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 1vw;
}

main .content {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
}

main .content * {
  height: 15vw;
  background-color: #3f8efc;
}

main .instrument {
  background-color: #404040;
  padding: 3vw;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(8vw, 1fr));
}

main .instrument * {
  height: 5vw;
  width: 5vw;
  background-color: #3f8efc;
  border-radius: 25%;
  border: 2px solid #000000;
}