body {
  margin: 0;
  display: grid;
  grid-template-columns: 30vh 3fr 1fr;
  grid-template-rows: 20vh 100vh;
  background-color: #ffffff;
}

header {
  display: flex;
  background-color: #000000;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1;
}

header p {
  color: #ffffff;
  align-self: center;
}

header a {
  display: flex;
  align-self: center;
  align-content: center;
}
header .logo {
  width: 7vw;
  height: 7vw;
  margin-left: 1vw;
  border: solid 2px transparent;
  border-radius: 100%;
}

header .logo:hover {
  border-color: #ffffff;
  transition: all 0.4s ease 0s;
}

nav {
  background-color: #404040;
  color: #ffffff;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

nav a {
  justify-content: space-around;
  padding: 1vw;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #202020;
}

main {
  background-color: #ffffff;
  grid-column-start: 2;
  grid-row-start: 2;
}
