* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 13% 3fr 1fr;
  grid-template-rows: 20vh auto;
  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1;
  padding-right: 2rem;
  border-bottom: 1vh solid #3f8efc;
}

header p {
  color: #ffffff;
  align-self: center;
}

header p:hover {
  background-color: #ffffff;
  color: #404040;
}

header a {
  display: flex;
  align-self: center;
  align-content: center;
}
header .logo {
  width: 5rem;
  height: 5rem;
  margin-left: 1vw;
  border: solid 2px transparent;
  border-radius: 100%;
}

header .logo:hover {
  border-color: #ffffff;
  transition: all 0.4s ease 0s;
}

header .kundvagn {
  width: 5rem;
  height: 5rem;
  margin-right: 1vw;
  border: solid 2px transparent;
  border-radius: 100%;
}

header .kundvagn:hover {
  border-color: #ffffff;
  transition: all 0.4s ease 0s;
}

nav {
  background-color: #404040;
  color: #ffffff;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 1vw;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #202020;
}

main {
  background-color: #ffffff;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 1vw;
}

main .content {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
}

main .content * {
  height: 20vw;
  background-color: #3f8efc;
}
